/*
 * Blueprint default font size: 12px (75% of 16px)
 *   -> 18px line height (1.5 * 12px)
 *
 * Desired font-size in px/16px = % value
 */

body {
    font-size: 93.75%; /* 100% -> font-size = 16px, line-height = 24px */
}

p, li {
    font-family: serif;
}

.container {
  margin-top: 24px;
  margin-bottom: 24px;
}

hr {
    height: 1px;
    margin: 0 0 23px;
}

pre {
    background-color: #e5ecf9;
    border: 1px solid #c3d9ff;
}

p code, li code {
    background-color: #e5ecf9;
}

.typeform-widget {
    border: 1px solid #c3d9ff;
}

.input_prompt, .output_prompt {
    float: left;
    margin-left: -60px;
    font-style: italic;
}
