.navbar-static-top {
  margin-bottom: 0px;
}

/*
 * Reduce default size of container if screen width is >= 768px.
 *
 * This overrides container max width from bootstrap since it is loaded
 * afterwards.
 */
@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

/*
 * Prevent images for extending over the container.
 */
img {
  max-width: 100%;
}

.welcome-panel {
  padding: 20px 15px;
  text-align: center;
}
