.navbar-static-top {
  margin-bottom: 0px;
}

.rliterate-code-header {
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rliterate-code-header p {
  margin: 0px;
  padding: 4px 12px;
  font-size: 95%;
  font-weight: bold;
}

.rliterate-code-body pre {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.rliterate-image-text {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/*
 * Reduce default size of container if screen width is >= 768px.
 *
 * This overrides container max width from bootstrap since it is loaded
 * afterwards.
 */
@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

/*
 * Prevent images for extending over the container.
 */
img {
  max-width: 100%;
}

.welcome-panel {
  padding: 20px 15px;
  text-align: center;
}
