.navbar-static-top {
  margin-bottom: 0px;
}

.rliterate-code-header {
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: white;
}

.rliterate-code-header .rliterate-code-path {
  list-style: none;
  margin: 0px;
  padding: 2px 12px;
  padding-bottom: 4px;
  font-size: 90%;
  font-weight: bold;
}

.rliterate-code-header .rliterate-code-path > li {
  display: inline-block;
}

.rliterate-code-header .rliterate-code-path > li + li:before {
  content: "/";
  padding: 0 5px;
  color: #cccccc;
}

.rliterate-code-body pre {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.rliterate-image {
  text-align: center;
}

.rliterate-image-text {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/*
 * Reduce default size of container if screen width is >= 768px.
 *
 * This overrides container max width from bootstrap since it is loaded
 * afterwards.
 */
@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

/*
 * Prevent images for extending over the container.
 */
img {
  max-width: 100%;
}
