div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */

/*
 * Generated with:
 * python -c 'import pygments.formatters; print(pygments.formatters.HtmlFormatter().get_style_defs(".rliterate-code"))'
 */
.rliterate-code .hll { background-color: #ffffcc }
.rliterate-code  { background: #f8f8f8; }
.rliterate-code .c { color: #408080; font-style: italic } /* Comment */
.rliterate-code .err { border: 1px solid #FF0000 } /* Error */
.rliterate-code .k { color: #008000; font-weight: bold } /* Keyword */
.rliterate-code .o { color: #666666 } /* Operator */
.rliterate-code .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.rliterate-code .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.rliterate-code .cp { color: #BC7A00 } /* Comment.Preproc */
.rliterate-code .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.rliterate-code .c1 { color: #408080; font-style: italic } /* Comment.Single */
.rliterate-code .cs { color: #408080; font-style: italic } /* Comment.Special */
.rliterate-code .gd { color: #A00000 } /* Generic.Deleted */
.rliterate-code .ge { font-style: italic } /* Generic.Emph */
.rliterate-code .gr { color: #FF0000 } /* Generic.Error */
.rliterate-code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.rliterate-code .gi { color: #00A000 } /* Generic.Inserted */
.rliterate-code .go { color: #888888 } /* Generic.Output */
.rliterate-code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.rliterate-code .gs { font-weight: bold } /* Generic.Strong */
.rliterate-code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.rliterate-code .gt { color: #0044DD } /* Generic.Traceback */
.rliterate-code .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.rliterate-code .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.rliterate-code .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.rliterate-code .kp { color: #008000 } /* Keyword.Pseudo */
.rliterate-code .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.rliterate-code .kt { color: #B00040 } /* Keyword.Type */
.rliterate-code .m { color: #666666 } /* Literal.Number */
.rliterate-code .s { color: #BA2121 } /* Literal.String */
.rliterate-code .na { color: #7D9029 } /* Name.Attribute */
.rliterate-code .nb { color: #008000 } /* Name.Builtin */
.rliterate-code .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.rliterate-code .no { color: #880000 } /* Name.Constant */
.rliterate-code .nd { color: #AA22FF } /* Name.Decorator */
.rliterate-code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.rliterate-code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.rliterate-code .nf { color: #0000FF } /* Name.Function */
.rliterate-code .nl { color: #A0A000 } /* Name.Label */
.rliterate-code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.rliterate-code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.rliterate-code .nv { color: #19177C } /* Name.Variable */
.rliterate-code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.rliterate-code .w { color: #bbbbbb } /* Text.Whitespace */
.rliterate-code .mb { color: #666666 } /* Literal.Number.Bin */
.rliterate-code .mf { color: #666666 } /* Literal.Number.Float */
.rliterate-code .mh { color: #666666 } /* Literal.Number.Hex */
.rliterate-code .mi { color: #666666 } /* Literal.Number.Integer */
.rliterate-code .mo { color: #666666 } /* Literal.Number.Oct */
.rliterate-code .sa { color: #BA2121 } /* Literal.String.Affix */
.rliterate-code .sb { color: #BA2121 } /* Literal.String.Backtick */
.rliterate-code .sc { color: #BA2121 } /* Literal.String.Char */
.rliterate-code .dl { color: #BA2121 } /* Literal.String.Delimiter */
.rliterate-code .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.rliterate-code .s2 { color: #BA2121 } /* Literal.String.Double */
.rliterate-code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.rliterate-code .sh { color: #BA2121 } /* Literal.String.Heredoc */
.rliterate-code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.rliterate-code .sx { color: #008000 } /* Literal.String.Other */
.rliterate-code .sr { color: #BB6688 } /* Literal.String.Regex */
.rliterate-code .s1 { color: #BA2121 } /* Literal.String.Single */
.rliterate-code .ss { color: #19177C } /* Literal.String.Symbol */
.rliterate-code .bp { color: #008000 } /* Name.Builtin.Pseudo */
.rliterate-code .fm { color: #0000FF } /* Name.Function.Magic */
.rliterate-code .vc { color: #19177C } /* Name.Variable.Class */
.rliterate-code .vg { color: #19177C } /* Name.Variable.Global */
.rliterate-code .vi { color: #19177C } /* Name.Variable.Instance */
.rliterate-code .vm { color: #19177C } /* Name.Variable.Magic */
.rliterate-code .il { color: #666666 } /* Literal.Number.Integer.Long */

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
