$body$
<hr>
<p>
    <span style="float: right;">
    <script id='fbdnfid'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=rickardlindberg&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=62;f.width=55;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbdnfid');</script>
    </span>

    <strong>Did you find this programming tip userful? Show your appreciation by
        flattering it.</strong>
</p>
