<div class="prepend-1 span-9 append-1">

    <p>Hi! My name is <strong>Rickard Lindberg</strong>. Welcome to my personal
    homepage. It mostly contains some of my writings. Enjoy!</p>

</div>

<div class="span-6 append-1 last">
    <p><img width="230" src="/images/avatar.png"></p>
</div>

<hr>

<div class="span-6">

  <h2>Me elsewhere</h2>
  <ul>
  <li><a href="https://github.com/rickardlindberg">GitHub</a></li>
  <li><a href="http://twitter.com/ricli85">Twitter</a></li>
  </ul>

</div>

<div class="span-6">

  <h2>Code</h2>
  <ul>
  <li><a href="http://thetimelineproj.sourceforge.net/">The timeline project</a></li>
  <li><a href="https://gist.github.com/rickardlindberg">Gists</a></li>
  </ul>

</div>

<div class="span-6 last">

  <h2>Pages</h2>
  <ul>
  <li><a href="/writing/thought-of-the-day/index.html">Thought of the day</a> - A daily thought about programming.</li>
  <li><a href="/writing/reflections-on-programming/index.html">Reflections on programming</a> - Another blog that I had.</li>
  </ul>

</div>

<hr>

<h2>All posts</h2>

<ul>
$for(posts)$
    <li><a href="$url$">$title$</a> - $date$</li>
$endfor$
</ul>
