<h1>Welcome</h1>

<hr>

<p>My name is <strong>Rickard Lindberg</strong>. Welcome to my personal
homepage. It currently contains only some of my writings.</p>

<hr>

<div class="span-6">

  <h2>Me elsewhere</h2>
  <ul>
  <li><a href="https://github.com/rickardlindberg">GitHub</a></li>
  <li><a href="http://twitter.com/ricli85">Twitter</a></li>
  </ul>

  <h2>Code</h2>
  <ul>
  <li><a href="http://thetimelineproj.sourceforge.net/">The timeline project</a></li>
  <li><a href="https://gist.github.com/rickardlindberg">Gists</a></li>
  </ul>

</div>

<div class="span-6">

  <h2>Series</h2>
  <ul>
  <li><a href="/writing/thought-of-the-day/index.html">Thought of the day</a> - A daily thought about programming.</li>
  <li><a href="/writing/reflections-on-programming/index.html">Reflections on programming</a> - Another blog that I had.</li>
  </ul>

</div>

<div class="span-6 last">

  <p><img width="230" src="/images/avatar.png"></p>

</div>

<hr>

<h2>All posts</h2>

<ul>
$for(posts)$
    <li><a href="$url$">$title$</a> - $date$</li>
$endfor$
</ul>
